<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeedsRentgen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SeedsRentgen.Properties.Settings>
            <setting name="colorSeed" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="colorHusk" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="colorFrame" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="valueWarning" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="valueMaxRecursion" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="blackTreshold" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="whiteTreshold" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="brightness" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="frameSensitivity" serializeAs="String">
                <value>15</value>
            </setting>
        </SeedsRentgen.Properties.Settings>
    </userSettings>
</configuration>